@font-face {
	font-family: NanumSquareR;
	src: url(./font/NanumSquareR.eot?#iefix) format("embedded-opentype"), url(./font/NanumSquareR.woff) format("woff"), url(./font/NanumSquareR.ttf) format("truetype");
}
@font-face {
	font-family: NanumSquareEB;
	src: url(/css/font/NanumSquareEB.eot?#iefix) format("embedded-opentype"), url(/css/font/NanumSquareEB.woff) format("woff"), url(/css/font/NanumSquareEB.ttf) format("truetype");
	font-weight: normal;
	font-style: normal;
}
html {
	margin: 0px; padding: 0px; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;
}
html {
	height: 100%; position: relative; -webkit-font-smoothing: antialiased;
}
body {
	height: 100%; position: relative; -webkit-font-smoothing: antialiased;
}
body {
	background: rgb(255, 255, 255); height: 100%; color: rgb(51, 51, 51); line-height: 20px; letter-spacing: -0.7px; font-family: "NanumSquareR","Dotum",Arial,Sans-serif; font-size: 14px; -ms-word-wrap: break-word;
}
body {
	margin: 0px; padding: 0px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
div {
	margin: 0px; padding: 0px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
span {
	margin: 0px; padding: 0px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}

h1 {
	margin: 0px; padding: 0px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
h2 {
	margin: 0px; padding: 0px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
h3 {
	margin: 0px; padding: 0px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}

p {
	margin: 0px; padding: 0px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
a {
	margin: 0px; padding: 0px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
button {
	margin: 0px; padding: 0px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
address {
	margin: 0px; padding: 0px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
em {
	margin: 0px; padding: 0px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
img {
	margin: 0px; padding: 0px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}

strong {
	margin: 0px; padding: 0px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}

dl {
	margin: 0px; padding: 0px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
dt {
	margin: 0px; padding: 0px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
dd {
	margin: 0px; padding: 0px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}

ul {
	margin: 0px; padding: 0px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
li {
	margin: 0px; padding: 0px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}

form {
	margin: 0px; padding: 0px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
label {
	margin: 0px; padding: 0px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}

table {
	margin: 0px; padding: 0px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
caption {
	margin: 0px; padding: 0px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
tbody {
	margin: 0px; padding: 0px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}

thead {
	margin: 0px; padding: 0px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
tr {
	margin: 0px; padding: 0px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
th {
	margin: 0px; padding: 0px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
td {
	margin: 0px; padding: 0px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}

input {
	margin: 0px; padding: 0px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}

footer {
	margin: 0px; display: block;
}
header {
	margin: 0px; display: block;
}

nav {
	margin: 0px; display: block;
}

[hidden] {
	display: none;
}

h1 {
	color: rgb(34, 34, 34); font-weight: bold;
}
h2 {
	color: rgb(34, 34, 34); font-weight: bold;
}
h3 {
	color: rgb(34, 34, 34); font-weight: bold;
}

ul {
	list-style: none;
}
li {
	list-style: none;
}
table {
	width: 100%; border-collapse: collapse; border-spacing: 0;
}
th {
	padding: 0px; -ms-word-break: keep-all;
}
td {
	padding: 0px; -ms-word-break: keep-all;
}
img {
	border: 0px currentColor; border-image: none; vertical-align: top;
}
button {
	border: 0px currentColor; border-image: none; vertical-align: top;
}
label {
	cursor: pointer;
}
button {
	cursor: pointer;
}

em {
	font-style: normal;
}
address {
	font-style: normal;
}

b {
	font-weight: bold;
}
strong {
	font-weight: bold;
}

form {
	border: 0px currentColor; border-image: none; display: block;
}

caption {
	margin: 0px; padding: 0px; width: 0px; height: 0px; text-indent: -9999em; overflow: hidden; font-size: 0px;
}

input {
	font-family: "NanumSquareR","Dotum",Arial,Sans-serif; font-size: 14px; vertical-align: middle;
}

::selection {
	background: rgb(179, 212, 252); text-shadow: none;
}
button {
	background: none; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; overflow: visible; font-family: "NanumSquareR","Dotum",Arial,Sans-serif; font-weight: bold; vertical-align: middle; cursor: pointer;
}
button:hover {
	
}
button:focus {
	
}
button[disabled] {
	cursor: default; pointer-events: none;
}
input[disabled] {
	cursor: default; pointer-events: none;
}
a.disabled {
	cursor: default; pointer-events: none;
}
a {
	color: rgb(51, 51, 51); text-decoration: none; -ms-word-break: break-all;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
a:focus {
	text-decoration: none;
}
a.link {
	text-decoration: underline;
}

a.new {
	display: inline-block;
}
a.new::after {
	background: url("/images/common/blt_newwin.png") no-repeat right; width: 11px; height: 11px; margin-left: 15px; vertical-align: middle; display: inline-block; content: "";
}
.ui-m a.new {
	
}
.ui-m a.new::after {
	background: url("/images/common/blt_newwin_m.png") no-repeat right / 11px; margin-left: 10px;
}
.blind {
	margin: 0px; padding: 0px; left: -9999em; width: 1px; height: 1px; text-indent: -9999em; overflow: hidden; position: absolute; clip: rect(1px, 1px, 1px, 1px);
}
.em {
	color: rgb(52, 109, 148) !important;
}

.placeholder {
	color: rgb(153, 153, 153) !important;
}

.hide {
	display: none !important;
}
.show {
	display: block !important;
}

.ui-w .wHide {
	display: none;
}

input[type='search'] {
	box-sizing: content-box; -webkit-appearance: textfield;
}
input[type='text'] {
	background: rgb(255, 255, 255); padding: 0px 13px; border: 1px solid rgb(192, 192, 192); border-image: none; width: 100%; height: 35px; line-height: 35px; font-size: 14px; display: inline-block;
}
input[type='text']:focus {
	border: 1px solid rgb(7, 74, 115); border-image: none;
}

input[type='text']::-ms-clear {
	display: none;
}
input[type='date'] {
	background: rgb(255, 255, 255); padding: 0px 13px; border: 1px solid rgb(192, 192, 192); border-image: none; width: 100%; height: 35px; line-height: 35px; font-size: 14px; display: inline-block;
}
input[type='password'] {
	background: rgb(255, 255, 255); padding: 0px 13px; border: 1px solid rgb(192, 192, 192); border-image: none; width: 100%; height: 35px; line-height: 35px; font-family: "Dotum"; font-size: 14px; display: inline-block;
}

input[type='password']:-ms-input-placeholder {
	font-family: "NanumSquareR","Dotum",Arial,Sans-serif;
}
input[type='checkbox'] {
	padding: 0px;
}
input[type='radio'] {
	padding: 0px;
}
.ui-m input[type='text'] {
	border-radius: 0px; height: 40px; line-height: 40px; font-size: 13px; box-shadow: none;
}
.ui-m input[type='password'] {
	border-radius: 0px; height: 40px; line-height: 40px; font-size: 13px; box-shadow: none;
}
.ui-m input[type='date'] {
	border-radius: 0px; height: 40px; line-height: 40px; font-size: 13px; box-shadow: none;
}
:-ms-input-placeholder {
	color: rgb(136, 136, 136) !important;
}
:focus + label::before {
	outline: dotted 1px;
}
.checkbox {
	vertical-align: middle; display: inline-block;
}
.checkbox input[type=checkbox] {
	width: 1px; height: 1px; overflow: hidden; position: absolute; clip: rect(1px, 1px, 1px, 1px); opacity: 0;
}

.checkbox + .checkbox {
	margin-left: 10px;
}

.radio {
	vertical-align: middle; display: inline-block;
}
.radio input[type=radio] {
	width: 1px; height: 1px; overflow: hidden; position: absolute; clip: rect(1px, 1px, 1px, 1px); opacity: 0;
}

.radio + .radio {
	margin-left: 25px;
}

.ui-m .radio + .radio {
	margin-top: 10px; margin-left: 0px; display: block;
}

.selectBox {
	background: rgb(255, 255, 255); line-height: 20px; font-size: 14px; vertical-align: middle; display: inline-block; min-width: 110px;
}
.selectBox .select {
	display: none;
}
.selectBox .selected {
	padding: 7px 27px 6px 15px; border: 1px solid rgb(192, 192, 192); border-image: none; width: 100%; height: 35px; color: rgb(102, 102, 102); overflow: hidden; display: block; white-space: nowrap; position: relative; -ms-word-wrap: normal; -ms-text-overflow: ellipsis;
}
.selectBox .selected::after {
	background: url("/images/common/blt_select.png") no-repeat 0px 0px; top: 50%; width: 12px; height: 7px; right: 11px; text-indent: -9999px; margin-top: -3px; display: block; position: absolute; content: "";
}
.selectBox .selected:focus {
	border: 1px solid rgb(7, 74, 115); border-image: none;
}
.selectBox .selected.disabled {
	cursor: default; pointer-events: none; background-color: rgb(244, 244, 244);
}
.selectBox .selected.disabled::after {
	opacity: 0.3;
}
.selectBox.on {
	
}
.selectBox.on .selected {
	border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(7, 74, 115) rgb(7, 74, 115) currentColor; border-image: none;
}
.selectBox.on .selected::after {
	background: url("/images/common/blt_select_on.png") no-repeat 0px 0px;
}
.selectBox.on .layerOption {
	display: block;
}
.selectBox .selectStyle {
	width: 100%; text-align: left; position: relative;
}
.selectBox .layerOption {
	background: rgb(255, 255, 255); border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(7, 74, 115) rgb(7, 74, 115); border-image: none; left: 0px; top: 34px; width: 100% !important; right: 0px; display: none; position: absolute; z-index: 5; -ms-overflow-y: auto; max-height: 199px;
}
.selectBox .layerOption .option {
	
}
.selectBox .layerOption :first-child.option {
	
}
.selectBox .layerOption .option a {
	padding: 10px 20px 9px 15px; width: 100%; color: rgb(102, 102, 102); display: block;
}
.selectBox .layerOption .option a:hover {
	color: rgb(7, 74, 115); text-decoration: underline;
}
.selectBox .layerOption .option a:focus {
	color: rgb(7, 74, 115); text-decoration: underline;
}
.selectBox .layerOption .option.on a {
	color: rgb(7, 74, 115); text-decoration: underline;
}
.selectBox .layerOption.scroll .option a {
	padding-right: 3px;
}
.ie8 .selectBox .layerOption {
	width: auto !important; box-sizing: content-box;
}
.ie9 .selectBox .layerOption {
	width: auto !important; box-sizing: content-box;
}
.ui-w .selectBox + .selectBox {
	margin-left: 7px;
}

.ui-m .selectBox {
	width: 100% !important; line-height: 25px; font-size: 15px; min-width: auto;
}
.ui-m .selectBox .selected {
	height: 40px;
}
.ui-m .selectBox .layerOption {
	top: 40px;
}
.ui-m .selectBox .layerOption .option a {
	padding-top: 8px; padding-bottom: 7px;
}
.textarea {
	background: rgb(255, 255, 255); width: 100%; position: relative;
}

.fileBox {
	padding-right: 108px; display: inline-block; position: relative;
}
.fileBox .uploadBtn {
	width: 1px; height: 1px; overflow: hidden; position: absolute; clip: rect(0px, 0px, 0px, 0px); opacity: 0;
}
.fileBox .fileName {
	width: 305px; border-right-color: currentColor; border-right-width: medium; border-right-style: none; pointer-events: none;
}

.ui-m .fileBox {
	width: 100%; padding-right: 40px; vertical-align: top; display: table-cell;
}
.ui-m .fileBox .fileName {
	width: 100%;
}

.ui-helper-hidden-accessible {
	margin: -1px; padding: 0px; border: 0px currentColor; border-image: none; width: 1px; height: 1px; overflow: hidden; position: absolute; clip: rect(0px, 0px, 0px, 0px);
}
.ui-helper-reset {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; line-height: 1.3; font-size: 100%; text-decoration: none;
}
.ui-helper-clearfix::after {
	display: table; border-collapse: collapse; content: "";
}
.ui-helper-clearfix::before {
	display: table; border-collapse: collapse; content: "";
}

.ui-front {
	z-index: 100;
}
.ui-datepicker {
	padding: 30px 30px 20px; margin-top: 1px; display: none;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
}
.ui-datepicker .ui-datepicker-header a {
	background-position: 0px 0px; top: 0px; width: 11px; height: 17px; display: block; position: absolute; cursor: pointer; background-repeat: no-repeat;
}
.ui-datepicker .ui-datepicker-header a span {
	width: 100%; height: 100%; text-indent: -9999px; display: block;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
	left: 0px; background-image: url("/images/common/arr_cal_prev.png");
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev-hover {
	left: 0px; background-image: url("/images/common/arr_cal_prev.png");
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next {
	right: 0px; background-image: url("/images/common/arr_cal_next.png");
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next-hover {
	right: 0px; background-image: url("/images/common/arr_cal_next.png");
}
.ui-datepicker .ui-datepicker-title {
	text-align: center; color: rgb(51, 51, 51); line-height: 1; font-size: 17px;
}
.ui-datepicker table {
	margin: 0px 0px 15px; width: 100%;
}
.ui-helper-clearfix::before {
	display: table; border-collapse: collapse; content: "";
}
.ui-helper-clearfix::after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0px;
}
.ui-datepicker.ui-widget-content {
	background: rgb(255, 255, 255); border-radius: 3px; color: rgb(102, 102, 102); box-shadow: 5px 6px 13px rgba(0,0,0,0.2);
}
.ui-datepicker th {
	padding: 25px 0px 7px; text-align: center; font-size: 13px; font-weight: normal;
}
.ui-datepicker th:first-child {
	color: rgb(222, 79, 65);
}
.ui-datepicker th:last-child {
	color: rgb(222, 79, 65);
}
.ui-datepicker td {
	padding: 2px; width: 31px; height: 31px; text-align: center; line-height: 31px; font-size: 13px;
}
.ui-datepicker tr:first-child td {
	position: relative;
}
.ui-datepicker td a {
	width: 31px; height: 31px; display: block; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}

.ui-datepicker td a:hover {
	background: rgb(244, 244, 244);
}
.ui-datepicker td.ui-datepicker-today a {
	background: rgb(244, 244, 244);
}
.ui-datepicker td.ui-datepicker-current-day a {
	background: rgb(0, 98, 135); color: rgb(255, 255, 255) !important;
}
.ui-datepicker td.ui-datepicker-week-end {
	color: rgb(222, 79, 65);
}
.ui-datepicker td.ui-datepicker-week-end a {
	color: rgb(222, 79, 65);
}
.ui-datepicker .ui-state-disabled {
	color: rgb(221, 221, 221);
}
.ui-datepicker td.ui-datepicker-week-end.ui-state-disabled {
	color: rgb(221, 221, 221);
}
.ui-datepicker-buttonpane {
	background: rgb(249, 249, 249); border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(221, 221, 221) currentColor currentColor; margin: 0px -15px; padding: 8px 15px; border-image: none; overflow: hidden;
}
.ui-datepicker-buttonpane button {
	background: rgb(255, 255, 255); border: 1px solid rgb(187, 187, 187); border-image: none; width: 58px; height: 28px; line-height: 26px; font-size: 12px; float: right;
}
.ui-datepicker-buttonpane button:first-child {
	float: left;
}
.ui-datepicker-trigger {
	display: none;
}

.ui-m .ui-datepicker.ui-widget-content {
	display: none !important;
}
.btnArea {
	width: 100%; text-align: center; margin-top: 30px;
}

.btnArea::after {
	clear: both; display: block; content: "";
}
.btnArea .left {
	float: left;
}
.btnArea .right {
	float: right;
}
.btnArea > span {
	display: inline-block;
}
.ui-w .btnArea > span {
	display: inline;
}
.btnArea > span + span {
	margin-left: 6px;
}
.ui-m .btnArea {
	margin-top: 40px;
}

.ui-m .btnArea a {
	width: 100%;
}
.ui-m .btnArea button {
	width: 100%;
}
.ui-m .btnArea > span {
	width: auto;
}
.ui-m .btnArea > span a {
	padding: 0px 20px; min-width: 85px;
}

.btn + .btn {
	margin-left: 6px;
}

a.btn {
	padding: 0px 30px; border-radius: 2px; height: 44px; text-align: center; color: rgb(255, 255, 255); line-height: 44px; font-size: 17px; font-weight: bold; vertical-align: top; display: inline-block; min-width: 110px; background-color: rgb(7, 74, 115);
}
button.btn {
	padding: 0px 30px; border-radius: 2px; height: 44px; text-align: center; color: rgb(255, 255, 255); line-height: 44px; font-size: 17px; font-weight: bold; vertical-align: top; display: inline-block; min-width: 110px; background-color: rgb(7, 74, 115);
}
a.btn.bk {
	background-color: rgb(102, 102, 102) !important;
}
button.btn.bk {
	background-color: rgb(102, 102, 102) !important;
}
.ui-m a.btn {
	padding: 0px 30px; border-radius: 2px; width: 100%; height: 50px; text-align: center; color: rgb(255, 255, 255); line-height: 50px; font-size: 17px; font-weight: bold; vertical-align: top; display: inline-block; background-color: rgb(7, 74, 115);
}
.ui-m button.btn {
	padding: 0px 30px; border-radius: 2px; width: 100%; height: 50px; text-align: center; color: rgb(255, 255, 255); line-height: 50px; font-size: 17px; font-weight: bold; vertical-align: top; display: inline-block; background-color: rgb(7, 74, 115);
}
.ui-m .btnArea a.btn {
	padding: 0px 20px; width: auto;
}
.ui-m .btnArea button.btn {
	padding: 0px 20px; width: auto;
}

.ui-m a.add {
	background: url("/images/common/blt_add_m.png") no-repeat center / 17px rgb(52, 109, 148); padding: 0px; width: 40px; text-indent: -9999px; min-width: 40px;
}
.ui-m button.add {
	background: url("/images/common/blt_add_m.png") no-repeat center / 17px rgb(52, 109, 148); padding: 0px; width: 40px; text-indent: -9999px; min-width: 40px;
}

a.search {
	background: url("/images/common/blt_search.png") no-repeat 18px 9px rgb(255, 255, 255); padding-left: 39px;
}
button.search {
	background: url("/images/common/blt_search.png") no-repeat 18px 9px rgb(255, 255, 255); padding-left: 39px;
}
.ui-m a.search {
	background: url("/images/common/blt_search_m.png") no-repeat 17px 12px / 14px 14px rgb(255, 255, 255); padding-left: 39px;
}
.ui-m button.search {
	background: url("/images/common/blt_search_m.png") no-repeat 17px 12px / 14px 14px rgb(255, 255, 255); padding-left: 39px;
}

a.btn.down {
	
}
button.btn.down {
	
}
a.btn.down span {
	
}

a.btn.down span::after {
	background: url("/images/common/blt_docdown.png") no-repeat center / 16px 13px; width: 16px; height: 13px; line-height: 0; font-size: 0px; margin-top: -2px; margin-left: 8px; vertical-align: middle; display: inline-block; content: "";
}

.tabArea {
	margin-bottom: 40px;
}
.ui-w .tab {
	background: url("/images/common/bg_tab.png") repeat-x left top; height: 50px; line-height: 0; overflow: hidden; font-size: 0px;
}
.ui-w .tab li {
	background: rgb(238, 238, 238); border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(221, 221, 221) rgb(221, 221, 221) currentColor; border-image: none; width: 208px; height: 48px; text-align: center; overflow: hidden; margin-left: -1px; vertical-align: top; float: left; display: table; table-layout: fixed;
}
.ui-w .tab li:first-child {
	margin-left: 0px;
}
.ui-w .tab li a {
	padding: 0px 3px; width: 100%; height: 47px; color: rgb(102, 102, 102); line-height: 22px; overflow: hidden; font-size: 17px; vertical-align: middle; display: table-cell; -ms-word-break: keep-all;
}
.ui-w .tab li.on {
	background: rgb(255, 255, 255); border-width: 2px 2px 0px; border-style: solid solid none; border-color: rgb(85, 85, 85) rgb(85, 85, 85) currentColor; border-image: none; width: 209px; height: 50px; position: relative;
}
.ui-w .tab li.on a {
	color: rgb(51, 51, 51);
}

.ui-m .tabArea {
	margin: 0px -15px 30px; white-space: nowrap; -ms-overflow-x: auto; -webkit-overflow-scrolling: touch;
}
.ui-m .tabArea ul.tab {
	width: 100%; line-height: 0; overflow: hidden; font-size: 0px; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid; display: table;
}
.ui-m .tabArea ul.tab li {
	display: inline-block;
}
.ui-m .tabArea ul.tab li:first-child {
	padding-left: 15px;
}
.ui-m .tabArea ul.tab li a {
	padding: 0px 20px; height: 50px; text-align: center; color: rgb(102, 102, 102); line-height: 50px; font-size: 15px; font-weight: bold; display: block;
}
.ui-m .tabArea ul.tab li.on a {
	color: rgb(17, 86, 135); border-bottom-color: rgb(17, 87, 136); border-bottom-width: 2px; border-bottom-style: solid; position: relative;
}
.ui-w .tabArea ~ .tabsArea {
	margin-top: -40px;
}
.ui-w .tabsArea {
	margin-bottom: 40px; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid;
}
.ui-w .tabs {
	padding: 15px 10px 20px;
}
.ui-w .tabs li {
	vertical-align: top; display: inline-block;
}
.ui-w .tabs li::after {
	width: 1px; height: 13px; vertical-align: middle; display: inline-block; content: ""; background-color: rgb(221, 221, 221);
}
.ui-w .tabs li:last-child::after {
	display: none;
}
.ui-w .tabs li a {
	padding: 0px 12px; font-size: 15px; margin-top: 10px; display: inline-block;
}
.ui-w .tabs li a:hover {
	color: rgb(0, 60, 106); text-decoration: underline;
}
.ui-w .tabs li a:focus {
	color: rgb(0, 60, 106); text-decoration: underline;
}
.ui-w .tabs li.on a {
	color: rgb(0, 60, 106); text-decoration: underline;
}
.ui-m .tabArea + .tabsArea {
	margin-top: -30px;
}
.ui-m .tabsArea {
	margin: 0px -15px 20px; padding: 0px 15px 0px 0px; white-space: nowrap; -ms-overflow-x: auto; background-color: rgb(247, 247, 247); -webkit-overflow-scrolling: touch;
}
.ui-m .tabs {
	height: 50px; display: table;
}
.ui-m .tabs li {
	vertical-align: top; display: inline-block;
}
.ui-m .tabs li a {
	padding: 0px 30px 0px 0px; height: 50px; line-height: 50px; display: inline-block;
}
.ui-m .tabs li:first-child {
	padding-left: 15px;
}
.ui-m .tabs li a:hover {
	color: rgb(0, 60, 106); text-decoration: underline;
}
.ui-m .tabs li a:focus {
	color: rgb(0, 60, 106); text-decoration: underline;
}
.ui-m .tabs li.on a {
	color: rgb(0, 60, 106); text-decoration: underline;
}
.ui-m .tabsArea + .cont {
	margin-top: 0px;
}
.ui-m body {
	line-height: 20px; font-family: "NanumSquareR","Dotum",AppleSDGothicNeo,Arial,Sans-serif; font-size: 13px; min-width: 320px;
}
.ui-m img {
	max-width: 100%;
}

.closeHidden {
	overflow: hidden;
}
.closeHiddenOnly {
	overflow: hidden;
}
.ui-m.closeHidden {
	left: 0px; right: 0px; position: fixed;
}
.layerPop {
	left: 0px; top: 0px; right: 0px; bottom: 0px; display: none; position: fixed; z-index: 9999; -ms-overflow-y: auto; -webkit-overflow-scrolling: touch;
}
.layerPop::after {
	background: rgba(0, 0, 0, 0.6); left: 0px; top: 0px; right: 0px; bottom: 0px; display: block; position: fixed; content: "";
}
.layerPop .layerPopArea {
	background: rgb(255, 255, 255); margin: 0px auto; padding: 30px 40px 60px; border: 1px solid rgb(221, 221, 221); border-image: none; top: 50%; width: 650px; position: relative; z-index: 10;
}
.layerPop .layerHead {
	margin-bottom: 40px;
}
.layerPop .layerHead .tit {
	font-size: 24px; font-weight: bold; display: inline-block;
}
.layerPop .layerCont {
	position: relative;
}
.layerPop .btnLayerClose {
	background: url("/images/common/btn_layer_close.png") no-repeat; top: 30px; width: 24px; height: 24px; right: 40px; text-indent: -9999px; display: block; position: absolute;
}
.layerPop.confirm .layerPopArea {
	top: 250px; width: 360px; height: 320px; text-align: center; padding-top: 50px; padding-bottom: 50px;
}
.layerPop.confirm .message {
	margin: 0px auto; width: 170px; height: 152px; line-height: 22px; padding-top: 108px; font-size: 18px; font-weight: bold; position: relative;
}
.layerPop.confirm .message::before {
	background-position: 0px 0px; margin: 0px auto; left: 0px; top: 0px; width: 90px; height: 90px; right: 0px; display: block; position: absolute; content: ""; background-repeat: no-repeat;
}
.layerPop.confirm .btnLayerClose {
	width: 18px; height: 18px; right: 30px; background-image: url("/images/common/btn_confirm_close.png");
}
.layerPop.confirm .btnArea {
	margin-top: 27px;
}
.layerPop.confirm .btnArea span + span {
	margin-left: 10px;
}

.layerPop.confirm.select .message::before {
	background-position: 0px 20px; width: 60px; background-image: url("/images/common/ico_confirm_select.png");
}
.ui-m .layerPop .layerPopArea {
	margin: 0px !important; padding: 35px 15px 40px; border: currentColor; border-image: none; top: 0px !important; width: auto; min-height: 100%;
}
.ui-m .layerPop .layerHead {
	text-align: center;
}
.ui-m .layerPop .layerHead .tit {
	font-family: "NanumSquareR"; font-size: 22px; font-weight: normal; display: block;
}
.ui-m .layerPop .btnLayerClose {
	top: 15px; width: 20px; height: 20px; right: 15px; background-image: url("/images/common/btn_confirm_close_m.png"); background-size: 20px;
}
.ui-m .layerPop.confirm .layerPopArea {
	margin: 0px 29px !important; padding: 40px 15px; border-radius: 3px; border: 1px solid rgb(221, 221, 221); border-image: none; top: 30px !important; height: auto; min-height: auto;
}

.videoArea {
	position: relative;
}
.videoArea .video {
	width: 100%; line-height: 0; font-size: 0px; position: relative; background-repeat: no-repeat; background-size: 100% 100%;
}
.videoArea .video::after {
	content: "재생";
}
.videoArea .video.on::after {
	content: "정지";
}
.videoArea .video img {
	width: 100%;
}

.videoArea .videoMobile {
	width: 100%; line-height: 0; font-size: 0px; position: relative;
}
.videoArea .videoMobile img {
	width: 100%;
}

.toggleList {
	border-top-color: rgb(52, 52, 52); border-top-width: 2px; border-top-style: solid;
}
.toggleList li {
	position: relative;
}
@media print
{

html {
	min-height: 297mm; min-width: 210mm;
}
body {
	min-height: 297mm; min-width: 210mm;
}
header.header {
	display: none;
}

.lnbWrap {
	display: none;
}
footer.footerWrap {
	display: none;
}
.siteWrap {
	display: none;
}
#content {
	margin: 0px !important; float: none !important;
}

input[type='text'] {
	background: rgb(255, 255, 255) !important;
}
input[type='password'] {
	background: rgb(255, 255, 255) !important;
}

.ui-w .inputDate .btnCalendar {
	background: url("/images/common/btn_date.png") no-repeat center !important;
}
a.btn {
	border: 1px solid rgb(7, 74, 115) !important; border-image: none !important; color: rgb(255, 255, 255) !important; background-color: rgb(7, 74, 115) !important;
}
button.btn {
	border: 1px solid rgb(7, 74, 115) !important; border-image: none !important; color: rgb(255, 255, 255) !important; background-color: rgb(7, 74, 115) !important;
}
a.btn.bk {
	border: 1px solid rgb(102, 102, 102) !important; border-image: none !important; background-color: rgb(102, 102, 102) !important;
}
button.btn.bk {
	border: 1px solid rgb(102, 102, 102) !important; border-image: none !important; background-color: rgb(102, 102, 102) !important;
}

a.search {
	background: url("/images/common/blt_search.png") no-repeat 18px 9px rgb(255, 255, 255) !important;
}
button.search {
	background: url("/images/common/blt_search.png") no-repeat 18px 9px rgb(255, 255, 255) !important;
}

a.btn.down span {
	color: rgb(255, 255, 255) !important;
}

a.btn.down span::after {
	background: url("/images/common/blt_docdown.png") no-repeat center !important;
}

.siteWrap.on {
	background: none !important; border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: solid; display: block;
}
.siteWrap.on .siteList > a {
	display: none !important;
}
.layerPop .layerPopArea {
	background: rgb(255, 255, 255) !important; margin: 0px !important; left: 0px; top: 0px !important; width: 100% !important; height: 100% !important;
}
.cmdBox {
	border: 1px solid rgb(231, 237, 241) !important; border-image: none !important; background-color: rgb(231, 237, 241) !important;
}

.infoBox {
	border: 1px solid rgb(245, 245, 245) !important; border-image: none !important; background-color: rgb(245, 245, 245) !important;
}

.tblArea thead th {
	background: rgb(245, 245, 245) !important;
}

.tblArea.row tbody th {
	background: rgb(245, 245, 245) !important;
}

.ui-w .brdView dl.view dd .file {
	background-color: rgb(237, 237, 237) !important;
}

.ui-w .reportList .info .file {
	background: url("/images/common/ico_file.png") no-repeat left top !important;
}

.selectBox {
	background: rgb(255, 255, 255) !important;
}
.selectBox .selected::after {
	background: url("/images/common/blt_select.png") no-repeat 0px 0px !important;
}
.ui-w .tab {
	background: url("/images/common/bg_tab.png") repeat-x left top !important;
}
.ui-w .tab li {
	
}
.ui-w .tab li.on {
	background: rgb(255, 255, 255) !important;
}

.ui-w .mainTop .topRolling .img {
	width: 1100px !important; height: 560px !important;
}
.ui-w .mainTop .topRolling .img img {
	margin: 0px !important; left: 0px !important; height: 560px !important;
}
.ui-w .mainTop .topRolling .img p {
	margin: 0px !important; left: 0px !important;
}
.ui-w .mainTop .topRolling .img p strong::before {
	background-color: rgb(51, 51, 51) !important;
}
.ui-w .mainTop .inner {
	width: 1100px !important;
}
.ui-w .mainCont .inner {
	width: 1080px !important;
}
.ui-w .mainTabCont .tabCont .tit {
	width: 270px !important;
}
.ui-w .mainCont .lsBox li {
	width: 270px !important;
}
.ui-w .mainCont .reportList li {
	width: 270px !important;
}
.ui-w .mainCont.etc .lsBox li {
	width: 274px !important;
}
.ui-w .mainCont .tvBox {
	padding: 0px 10px !important; width: 258px !important; float: left !important;
}
.ui-w .mainTop .favorite {
	background: url("/images/spo/bg_favorite.png") left top !important;
}
.ui-w .mainCont.svc .tit {
	background: rgb(48, 149, 182) !important;
}
.ui-w .mainCont.noti .mainTabCont .tabCont .tit {
	background: rgb(101, 142, 198) !important;
}
.ui-w .mainTabCont .tabCont .tit h3 {
	color: rgb(255, 255, 255) !important;
}
.ui-w .mainTop .favorite li a span {
	color: rgb(255, 255, 255) !important;
}
.ui-w .relationBnr .ctrl {
	display: none !important;
}
.ui-w .relationBnr ul {
	width: 1100px !important; height: auto !important; text-align: center !important; white-space: normal !important; -ms-word-break: break-all !important;
}
.ui-w .relationBnr li a {
	border: 1px solid rgb(221, 221, 221) !important; border-image: none !important;
}
.ui-w .relationBnr .rolling {
	margin: 0px !important; width: 1100px !important; overflow: auto;
}
.ui-w .relationBnr .swiper-wrapper {
	display: inline-block !important;
}

a[href^='#']::after {
	content: "";
}
a[href^='javascript:']::after {
	content: "";
}

thead {
	display: table-header-group;
}
tr {
	page-break-inside: avoid;
}
img {
	page-break-inside: avoid;
}
img {
	max-width: 100% !important;
}
p {
	orphans: 3; widows: 3;
}
h2 {
	orphans: 3; widows: 3;
}
h3 {
	orphans: 3; widows: 3;
}
h2 {
	page-break-after: avoid;
}
h3 {
	page-break-after: avoid;
}
}
